.jobCardContainer{
    height: 60%;
    width: 20%;
    border: 2px solid #dedede;
    border-radius: 5%;
    margin:1%;
    box-shadow: 1px 1px 5px #dedede;
    padding: 1%;
}
.jobPostDays{
    border: 1px solid rgb(230, 230, 230);
    width: 40%;
    margin: 5% 0;
    border-radius: 10px;
    font-size: 70%;
    font-weight: bold;
    padding:1%;
    box-shadow: rgba(6, 6, 6, 0.05) 0px 2px 6px 0px;;
}
.companyDetailsContainer{
    display: flex;
}
.companyLogoDiv{
    height: 3rem;
}
.companyDetails{
    margin-left: 5%;
}
.companyName{
    color: grey;
    font-weight: 600;
    font-size: 0.9em;
}
.jobRole{
    font-weight: 400;
    font-size: 0.95em;
    line-height: 1.5;
}
.jobLocation{
    font-size: 0.8em;
    font-weight: 500;
}
.salaryDetails{
    font-weight: 400;
    color: rgb(77, 89, 106);
    font-size: 0.85em;
}
.aboutCompanyText{
    margin: 1% 0;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
}
.jobDescription{
    font-size: 0.9em;
    display: block;
    height: 11rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.viewJobLink{
    text-align: center;
    color: blue;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: -3.7rem;
    height: 4rem;
    align-content: center;
    position: relative;
}
.translucentDiv{
    text-align: center;
    color: blue;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: -2.6rem;
    background-color: white;
    height: 4rem;
    align-content: center;
    position: relative;
    opacity: 0.8;
}
.minimumExperienceText{
    color: grey;
    font-weight: 500;
    font-size: 0.9rem;
}
.easyApplyButton{
    background-color: rgb(85, 239, 196);
    padding: 0.6rem;
    text-align: center;
    border-radius: 10px;
    margin-top: 4%;
    cursor: pointer;
}
.referalButton{
    background-color: blue;
    padding: 0.6rem;
    text-align: center;
    border-radius: 10px;
    margin-top: 4%;
    cursor: pointer;
    color: white
}
